<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AllInOne"
        tools:targetApi="31">
        <activity
            android:name=".act.about.UpdateLogActivity"
            android:exported="false"
            android:label="@string/title_activity_update_log"
            android:theme="@style/Theme.AllInOne" />
        <activity
            android:name=".act.anniversary.AnniversaryDetailsActivity"
            android:exported="false"
            android:label="@string/title_activity_anniversary_details"
            android:theme="@style/Theme.AllInOne" />
        <activity
            android:name=".act.anniversary.AnniversaryAddActivity"
            android:exported="false"
            android:label="@string/title_activity_anniversary_add"
            android:theme="@style/Theme.AllInOne" />
        <activity
            android:name=".act.anniversary.AnniversaryPreviewActivity"
            android:exported="false"
            android:label="@string/title_activity_anniversary_preview"
            android:theme="@style/Theme.AllInOne" />
        <activity
            android:name=".act.note.NoteEditActivity"
            android:exported="false"
            android:label="@string/title_activity_note_edit"
            android:theme="@style/Theme.AllInOne" />
        <activity
            android:name=".act.note.NoteListActivity"
            android:exported="false"
            android:label="@string/title_activity_note_list"
            android:theme="@style/Theme.AllInOne" />
        <activity
            android:name=".act.about.AboutStudioActivity"
            android:exported="false"
            android:label="@string/title_activity_about_studio" />
        <activity
            android:name=".act.about.AboutAppActivity"
            android:exported="false"
            android:label="@string/title_activity_about_app" />
        <activity
            android:name=".act.about.AboutDeveloperActivity"
            android:exported="false"
            android:label="@string/title_activity_about_developer" />
        <activity
            android:name=".act.todo.TodoCompletedActivity"
            android:exported="false" />
        <activity
            android:name=".act.todo.TodoAddActivity"
            android:exported="false" />
        <activity
            android:name=".act.todo.TodoListActivity"
            android:exported="false" />
        <activity
            android:name=".act.bookmark.FolderDetailsActivity"
            android:exported="false" />
        <activity
            android:name=".act.bookmark.LinkDetailsActivity"
            android:exported="false" />
        <activity
            android:name=".act.bookmark.LinkAddActivity"
            android:exported="false" />
        <activity
            android:name=".act.bookmark.BookmarkLinksActivity"
            android:exported="false" />
        <activity
            android:name=".act.bookmark.FolderAddActivity"
            android:exported="false" />
        <activity
            android:name=".act.bookmark.BookmarkFoldersActivity"
            android:exported="false" />
        <activity
            android:name=".act.setting.SettingActivity"
            android:exported="false" />
        <activity
            android:name=".act.main.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>