<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="34"
        tools:ignore="ScopedStorage" />
    <uses-permission
        android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="32" />
    <uses-permission
        android:name="android.permission.MANAGE_EXTERNAL_STORAGE"
        tools:ignore="ScopedStorage" />

    <queries>

        <!-- 声明需要查询的包名 -->
        <package android:name="com.samsung.android.calendar" />
    </queries>

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AllInOne"
        tools:targetApi="31">
        <activity
            android:name=".act.anniversary.AnniversaryEditActivity"
            android:exported="false"
            android:label="@string/title_activity_anniversary_edit"
            android:theme="@style/Theme.AllInOne" />
        <activity
            android:name=".act.record.RecordActivity"
            android:exported="false"
            android:label="@string/title_activity_record"
            android:theme="@style/Theme.AllInOne" />
        <activity
            android:name=".act.recovery.RecoveryActivity"
            android:exported="false"
            android:label="@string/title_activity_recovery"
            android:theme="@style/Theme.AllInOne" />
        <activity
            android:name=".act.knowledge.SmartBoxActivity"
            android:exported="false"
            android:label="@string/title_activity_smart_box"
            android:theme="@style/Theme.AllInOne" />
        <activity
            android:name=".act.knowledge.ChineseActivity"
            android:exported="false"
            android:label="@string/title_activity_chinese"
            android:theme="@style/Theme.AllInOne" />
        <activity
            android:name=".act.knowledge.EnglishActivity"
            android:exported="false"
            android:label="@string/title_activity_english"
            android:theme="@style/Theme.AllInOne" />
        <activity
            android:name=".act.knowledge.SubjectChooseActivity"
            android:exported="false"
            android:label="@string/title_activity_subject_choose"
            android:theme="@style/Theme.AllInOne" />
        <activity
            android:name=".act.anniversary.AnniversaryFullDisplayActivity"
            android:exported="false"
            android:label="@string/title_activity_anniversary_full_display"
            android:theme="@style/Theme.AllInOne" />
        <activity
            android:name=".act.bookmark.LinkImportActivity"
            android:exported="false"
            android:label="@string/title_activity_link_import"
            android:theme="@style/Theme.AllInOne" />
        <activity
            android:name=".act.backup.BackupActivity"
            android:exported="false"
            android:label="@string/title_activity_backup"
            android:theme="@style/Theme.AllInOne" />
        <activity
            android:name=".act.password.PasswordChangeActivity"
            android:exported="false"
            android:label="@string/title_activity_password_change"
            android:theme="@style/Theme.AllInOne" />
        <activity
            android:name=".act.diary.MoodSelectActivity"
            android:exported="false"
            android:label="@string/title_activity_mood_select"
            android:theme="@style/Theme.AllInOne" />
        <activity
            android:name=".act.diary.WeatherSelectActivity"
            android:exported="false"
            android:label="@string/title_activity_weather_selection"
            android:theme="@style/Theme.AllInOne" />
        <activity
            android:name=".act.diary.DiaryEditActivity"
            android:exported="false"
            android:label="@string/title_activity_diary_edit"
            android:theme="@style/Theme.AllInOne" />
        <activity
            android:name=".act.diary.DiaryPreviewActivity"
            android:exported="false"
            android:label="@string/title_activity_diary_preview"
            android:theme="@style/Theme.AllInOne" />
        <activity
            android:name=".act.password.PasswordCheckActivity"
            android:exported="false"
            android:label="@string/title_activity_password_check"
            android:theme="@style/Theme.AllInOne" />
        <activity
            android:name=".act.todo.TodoDetailsActivity"
            android:exported="false"
            android:label="@string/title_activity_todo_details"
            android:theme="@style/Theme.AllInOne" />
        <activity
            android:name=".act.todo.TodoListActivity"
            android:exported="false"
            android:label="@string/title_activity_todo_list"
            android:theme="@style/Theme.AllInOne" />
        <activity
            android:name=".act.about.UpdateLogActivity"
            android:exported="false"
            android:label="@string/title_activity_update_log"
            android:theme="@style/Theme.AllInOne" />
        <activity
            android:name=".act.anniversary.AnniversaryDetailsActivity"
            android:exported="false"
            android:label="@string/title_activity_anniversary_details"
            android:theme="@style/Theme.AllInOne" />
        <activity
            android:name=".act.anniversary.AnniversaryAddActivity"
            android:exported="false"
            android:label="@string/title_activity_anniversary_add"
            android:theme="@style/Theme.AllInOne" />
        <activity
            android:name=".act.anniversary.AnniversaryPreviewActivity"
            android:exported="false"
            android:label="@string/title_activity_anniversary_preview"
            android:theme="@style/Theme.AllInOne" />
        <activity
            android:name=".act.note.NoteEditActivity"
            android:exported="false"
            android:label="@string/title_activity_note_edit"
            android:theme="@style/Theme.AllInOne.DisableExit" />
        <activity
            android:name=".act.note.NoteListActivity"
            android:exported="false"
            android:label="@string/title_activity_note_list"
            android:theme="@style/Theme.AllInOne" />
        <activity
            android:name=".act.about.AboutStudioActivity"
            android:exported="false"
            android:label="@string/title_activity_about_studio" />
        <activity
            android:name=".act.about.AboutAppActivity"
            android:exported="false"
            android:label="@string/title_activity_about_app" />
        <activity
            android:name=".act.about.AboutDeveloperActivity"
            android:exported="false"
            android:label="@string/title_activity_about_developer" />
        <activity
            android:name=".act.todo.TodoCompletedActivity"
            android:exported="false"
            android:label="@string/title_activity_todo_completed" />
        <activity
            android:name=".act.todo.TodoAddActivity"
            android:exported="false"
            android:label="@string/title_activity_todo_add" />
        <activity
            android:name=".act.bookmark.FolderDetailsActivity"
            android:exported="false"
            android:label="@string/title_activity_folder_details" />
        <activity
            android:name=".act.bookmark.LinkDetailsActivity"
            android:exported="false"
            android:label="@string/title_activity_link_details" />
        <activity
            android:name=".act.bookmark.LinkAddActivity"
            android:exported="false"
            android:label="@string/title_activity_link_add" />
        <activity
            android:name=".act.bookmark.LinkListActivity"
            android:exported="false"
            android:label="@string/title_activity_link_list" />
        <activity
            android:name=".act.bookmark.FolderAddActivity"
            android:exported="false"
            android:label="@string/title_activity_folder_add" />
        <activity
            android:name=".act.bookmark.FolderListActivity"
            android:exported="false"
            android:label="@string/title_activity_folder_list" />
        <activity
            android:name=".act.setting.SettingActivity"
            android:exported="false"
            android:label="@string/title_activity_setting" />
        <activity
            android:name=".act.main.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>